{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ SITENAME }}- Posts by Category</h3>
    <ul class="list-group">
        {% for category, articles in categories|sort %}
        <li class="list-group-item list-group-item-action"><a class="text-reset text-decoration-none" href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}