{% extends "base.html" %}
{% block content %}
<section id="content">
    {% block content_title %}
    <figure>
        <blockquote class="blockquote">
            <p class="text-center">Articles on Python, Linux, other technology-related things.</p>
        </blockquote>
    </figure>
    <h4 class="mt-5">Recent posts</h4>
    {% endblock %}
    <div id="post-list" class="container-fluid mt-3">
        {% for article in articles_page.object_list %}
        <header>
            <h5 class="entry-title"><a class="text-reset" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="{{ article.title|striptags }}">{{ article.title }}</a></h2>
        </header>
        <div class="lead">
            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
        </div><!-- /.post-info -->
        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        <ul class="list-inline">
            {% for tag in article.tags %}
            <li class="list-inline-item"><a class="text-reset" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag.name }}</a></li>
            {% endfor %}
            {% endfor %}
            </ol><!-- /#posts-list -->
            {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
            {% endif %}
        </ul>
</section><!-- /#content -->
{% endblock content %}