.highlight {
    padding: 1em;
    border-radius: 10px;
    background: rgb(66, 66, 66);
    color: rgb(83, 196, 52);
    border: solid;
    border-width: medium;
    border-color: rgb(191, 191, 191);
    margin-top: .3em;
    margin-bottom: .3em;
}